@font-face {
	font-family: 'fontello';
	src: url("#{resource['default:fonts/fontello/font/fontello.eot']}");
	src:
		url("#{resource['default:fonts/fontello/font/fontello.eot']}#iefix")
		format('embedded-opentype'),
		url("#{resource['default:fonts/fontello/font/fontello.woff']}")
		format('woff'),
		url("#{resource['default:fonts/fontello/font/fontello.ttf']}")
		format('truetype'),
		url("#{resource['default:fonts/fontello/font/fontello.svg']}#fontello")
		format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-docs:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-group:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-angle-left:before { content: '\e808'; } /* '' */
.icon-angle-right:before { content: '\e809'; } /* '' */
.icon-angle-up:before { content: '\e80a'; } /* '' */
.icon-angle-down:before { content: '\e80b'; } /* '' */
.icon-angle-circled-left:before { content: '\e80c'; } /* '' */
.icon-angle-circled-right:before { content: '\e80d'; } /* '' */
.icon-angle-circled-up:before { content: '\e80e'; } /* '' */
.icon-angle-circled-down:before { content: '\e80f'; } /* '' */
.icon-angle-double-left:before { content: '\e810'; } /* '' */
.icon-angle-double-right:before { content: '\e811'; } /* '' */
.icon-angle-double-up:before { content: '\e812'; } /* '' */
.icon-angle-double-down:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-pencil:before { content: '\e816'; } /* '' */
.icon-retweet:before { content: '\e817'; } /* '' */
.icon-link:before { content: '\e818'; } /* '' */
.icon-home:before { content: '\e819'; } /* '' */
.icon-lock:before { content: '\e81a'; } /* '' */
.icon-lock-open:before { content: '\e81b'; } /* '' */
.icon-tag:before { content: '\e81c'; } /* '' */
.icon-tags:before { content: '\e81d'; } /* '' */
.icon-help:before { content: '\e81e'; } /* '' */
.icon-info:before { content: '\e81f'; } /* '' */
.icon-unlink:before { content: '\e820'; } /* '' */
.icon-link-ext:before { content: '\e821'; } /* '' */
.icon-eye:before { content: '\e822'; } /* '' */
.icon-eye-off:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e824'; } /* '' */
.icon-download-cloud:before { content: '\e825'; } /* '' */
.icon-upload-cloud:before { content: '\e826'; } /* '' */
.icon-reply:before { content: '\e827'; } /* '' */
.icon-forward:before { content: '\e828'; } /* '' */
.icon-mail:before { content: '\e829'; } /* '' */
.icon-mail-alt:before { content: '\e82a'; } /* '' */
.icon-heart-empty:before { content: '\e82b'; } /* '' */
.icon-star:before { content: '\e82c'; } /* '' */
.icon-star-empty:before { content: '\e82d'; } /* '' */
.icon-picture:before { content: '\e82e'; } /* '' */
.icon-video:before { content: '\e82f'; } /* '' */
.icon-videocam:before { content: '\e830'; } /* '' */
.icon-camera:before { content: '\e831'; } /* '' */
.icon-camera-alt:before { content: '\e832'; } /* '' */
.icon-attach:before { content: '\e833'; } /* '' */
.icon-lock-open-alt:before { content: '\e834'; } /* '' */
.icon-thumbs-up:before { content: '\e835'; } /* '' */
.icon-thumbs-down:before { content: '\e836'; } /* '' */
.icon-download:before { content: '\e837'; } /* '' */
.icon-upload:before { content: '\e838'; } /* '' */
.icon-share-squared:before { content: '\e839'; } /* '' */
.icon-print:before { content: '\e83a'; } /* '' */
.icon-chat:before { content: '\e83b'; } /* '' */
.icon-comment:before { content: '\e83c'; } /* '' */
.icon-comment-empty:before { content: '\e83d'; } /* '' */
.icon-attention:before { content: '\e83e'; } /* '' */
.icon-attention-circled:before { content: '\e83f'; } /* '' */
.icon-attention-alt:before { content: '\e840'; } /* '' */
.icon-trash:before { content: '\e841'; } /* '' */
.icon-trash-empty:before { content: '\e842'; } /* '' */
.icon-doc:before { content: '\e843'; } /* '' */
.icon-doc-text:before { content: '\e844'; } /* '' */
.icon-doc-inv:before { content: '\e845'; } /* '' */
.icon-doc-text-inv:before { content: '\e846'; } /* '' */
.icon-file-pdf:before { content: '\e847'; } /* '' */
.icon-file-word:before { content: '\e848'; } /* '' */
.icon-file-excel:before { content: '\e849'; } /* '' */
.icon-file-powerpoint:before { content: '\e84a'; } /* '' */
.icon-file-image:before { content: '\e84b'; } /* '' */
.icon-file-archive:before { content: '\e84c'; } /* '' */
.icon-file-audio:before { content: '\e84d'; } /* '' */
.icon-file-video:before { content: '\e84e'; } /* '' */
.icon-file-code:before { content: '\e84f'; } /* '' */
.icon-folder:before { content: '\e850'; } /* '' */
.icon-folder-open:before { content: '\e851'; } /* '' */
.icon-folder-empty:before { content: '\e852'; } /* '' */
.icon-folder-open-empty:before { content: '\e853'; } /* '' */
.icon-box:before { content: '\e854'; } /* '' */
.icon-rss:before { content: '\e855'; } /* '' */
.icon-rss-squared:before { content: '\e856'; } /* '' */
.icon-phone:before { content: '\e857'; } /* '' */
.icon-phone-squared:before { content: '\e858'; } /* '' */
.icon-fax:before { content: '\e859'; } /* '' */
.icon-menu:before { content: '\e85a'; } /* '' */
.icon-wrench:before { content: '\e85b'; } /* '' */
.icon-sliders:before { content: '\e85c'; } /* '' */
.icon-cog-alt:before { content: '\e85d'; } /* '' */
.icon-calendar:before { content: '\e85e'; } /* '' */
.icon-login:before { content: '\e85f'; } /* '' */
.icon-mic:before { content: '\e860'; } /* '' */
.icon-mute:before { content: '\e861'; } /* '' */
.icon-resize-full-alt:before { content: '\e862'; } /* '' */
.icon-zoom-in:before { content: '\e863'; } /* '' */
.icon-zoom-out:before { content: '\e864'; } /* '' */
.icon-down-circled2:before { content: '\e865'; } /* '' */
.icon-up-circled2:before { content: '\e866'; } /* '' */
.icon-left-circled2:before { content: '\e867'; } /* '' */
.icon-right-circled2:before { content: '\e868'; } /* '' */
.icon-down-dir:before { content: '\e869'; } /* '' */
.icon-left-open:before { content: '\e86a'; } /* '' */
.icon-right-open:before { content: '\e86b'; } /* '' */
.icon-up-open:before { content: '\e86c'; } /* '' */
.icon-down-open:before { content: '\e86d'; } /* '' */
.icon-down:before { content: '\e86e'; } /* '' */
.icon-up:before { content: '\e86f'; } /* '' */
.icon-arrows-cw:before { content: '\e870'; } /* '' */
.icon-shuffle:before { content: '\e871'; } /* '' */
.icon-list:before { content: '\e872'; } /* '' */
.icon-scissors:before { content: '\e873'; } /* '' */
.icon-at:before { content: '\e874'; } /* '' */
.icon-plus:before { content: '\e875'; } /* '' */