/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,canvas,iframe,img,svg,video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/**
 * General
 */
html,
body {
	height: 100%;
	min-height: 100%;
}

body {
	font: 100%/1.357 Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 1em;
	margin: 0;
}

h1 a,
h1 a:visited {
	float: left;
	font: normal 1.285em titilliumbold_italic, Arial, Helvertica, sans-serif; /* 18px */
	margin: 0 0 0 20px;
	text-transform: uppercase;
	color: #FCF9DA;
}

h2 {
	font: bold 1.285em titilliumregular, Arial, Helvertica, sans-serif; /* 18px */
	margin: 0 0 16px;
}

h3 {
	font: bold 1.143em titilliumregular, Arial, Helvertica, sans-serif; /* 16px */
	margin: 0 0 16px;
}

a,
a:visited {
	color: #1470B2;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #333;
}

/**
 * Structure
 */
.wrapper {
	float: left;
	width: 100%;
	font-size: 0.875em; /* 14px */
	min-height: 100%;
	background: url("#{resource['default:img/nav-bg.png']}") repeat-y 0 0 ;
}

.wrapper.wide {
	background-position: -177px 0;
}

.header-wrapper {
	float: left;
	position: fixed;
	width: 100%;
	padding: 13px 0 13px;
	background: #3D3D3D;
	z-index: 1000;
}

.sidebar {
	float: left;
	position: relative;
	margin-top: 52px;
	background: #F5F5F5;
	width: 229px;
	border-right: 1px solid #eee;
	z-index: 999;
}

.content-wrapper {
	float: right;
	width: 100%;
	margin: 52px 0 0 -230px;
}

.wrapper.wide .content-wrapper {
	margin-left: -53px;
}

.sidebar.narrow {
	width: 52px;
}

.content {
	position: relative;
	padding: 20px 20px 0 250px;
}

.wrapper.wide .content {
	padding-left: 73px;
}

/**
 * Header
 */
.header-nav {
	float: right;
	list-style: none;
	padding: 0;
	margin: 3px 20px 0 0;
}

.header-nav li {
	float: left;
	margin: 0 0 0 15px;
}

.header-nav li a {
	color: #CBE7FC;
	text-decoration: none;
}

.header-nav li i {
	color: #CBE7FC;
}

.logout-icon-wrap,
.header-nav li form {
	float: left;
}

/**
 * Login
 */
.login-body {
	background: #3D3D3D;
}

.login {
	width: 352px;
	margin: 150px auto;
}

.login h1 {
	font: normal 1.625em titilliumbold_italic, Arial, Helvertica, sans-serif;
	/* 26px */
	margin: 0 0 30px;
	color: #FCF9DA;
	width: 100%;
	text-align: center;
}

.login form {
	float: left;
	padding: 40px;
	background: #F5F5F5;
	box-shadow: 0 1px 3px rgba(255, 255, 255, 0.5)
}

.login label {
	display: block;
	width: 100px;
	font-size: 0.75em;
	font-weight: bold;
	margin: 0 0 5px;
}

.login div {
	margin: 0 0 20px;
}

.login input[type="text"],.login input[type="password"] {
	width: 250px;
	padding: 10px;
	font-size: 0.75em;
	color: #666;
}

.login input[type="submit"] {
	font-size: 0.875em;
	padding: 5px 20px;
}

.login ul {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
	color: #f00;
	font-size: 0.75em;
}

/**
 * Search
 */
.searchform {
	position: relative;
	float: left;
	margin: 15px 0 25px;
	padding: 0 0 0 15px;
}
.searchform input[type="submit"],
.searchform label {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.search {
	background: #F5F5F5;
	border: solid #D9D7D7;
	border-width: 0 0 1px;
	padding: 0;
	color: #666;
	width: 170px;
	font: 1em titilliumregular, Arial, Helvertica, sans-serif;
}

.search:focus {
	outline: none;
}

.searchform .icon-search {
	color: #888;
}

.sidebar.narrow .searchform:hover {
	height: 19px;
}

.sidebar.narrow .searchform:hover div {
	position: absolute;
	left: 15px;
	top: -1px;
	width: 229px;
}

.sidebar.narrow .searchform:hover .search {
	display: inline;
}

/**
 * Navigation
 */
.mainnav {
	clear: both;
}

.mainnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mainnav li {
	position: relative;
}

.mainnav ul ul {
	display: none;
	padding: 0 0 0 15px;
	background: #F5F5F5;
}

.mainnav li a {
	display: block;
	padding: 15px;
	border-bottom: solid #D9D7D7;
	border-width: 1px 0;
	color: #333;
	text-decoration: none;
	background: #F5F5F5;
}

.mainnav li.active.parent ul a {
	border-color: #D9D7D7;
	background: #F5F5F5;
}

.mainnav li.active.parent a {
	border-color: #C5C3C3;
}

.mainnav li a:hover,
.mainnav li a:focus,
.mainnav li.active a {
	background: #E4E2E2;
}

.mainnav li a .icon-angle-down {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #666;
}

.mainnav li a .menu-item {
	transition: all 0.4s ease 0s;
}

.mainnav li a:hover .menu-item,
.mainnav li a:focus .menu-item {
	padding-left: 6px;
}

.mainnav li.active.idle a {
	background: #F5F5F5;
}

.menu-trigger {
	float: right;
	margin: 15px 15px 0 0;
	padding: 4px 4px 4px 3px;
	background: #D9D7D7;
	border-radius: 5px;
}

.menu-trigger a {
	color: #666;
}

.sidebar.narrow .menu-text,
.sidebar.narrow .search {
	display: none;
}

.sidebar.narrow .menu-trigger {
	margin-right: 13px;
}

.sidebar.narrow .mainnav li ul {
	display: none;
}

.sidebar.narrow .mainnav li {
	height: 49px;
}

.sidebar.narrow .mainnav li a {
	border: none;
}

.sidebar.narrow .mainnav li:hover,
.sidebar.narrow .mainnav li:focus {
	display: block;
	position: relative;
	width: 229px;
}

.sidebar.narrow .mainnav li:hover .menu-text,
.sidebar.narrow .mainnav li:focus .menu-text,
.sidebar.narrow .mainnav li:hover ul .menu-text,
.sidebar.narrow .mainnav li:focus ul .menu-text {
	display: inline;
}

.mainnav ul ul.flyout {
	position: absolute;
	left: 53px;
	top: 49px;
	padding: 0;
}

.mainnav ul ul.flyout li a {
	float: left;
	border-bottom: 1px solid #D9D7D7 !important;
	background: #eee !important;
}

.mainnav ul ul.flyout li a,
.mainnav ul ul.flyout li:hover,
.mainnav ul ul.flyout li:focus {
	width: 146px !important;
}

.open:hover .flyout {
	display: block !important;
}

.open:hover a {
	background: #eee;
}

/**
 * Content
 */
.content-item {
	padding: 20px;
	margin: 0 0 20px;
	border: 1px solid #e8e8e8;
}

.content-col {
	float: left;
	width: 33%;
	margin: 0 2.08% 0 0;
}

.add-link {
	float: left;
	margin: 0 0 20px;
}

/**
 * User profile
 */
.profile-details dt {
	width: 130px;
	float: left;
	font-weight: bold;
	color: #555;
}

.profile-image img {
	width: 100%;
}

.profile-image {
	width: 200px;
	margin: 0 0 20px;
}

/**
 * Filelist
 */
.dropzone-previews {
	position: absolute;
	left: 250px;
	bottom: 20px;
}

.wrapper.wide .dropzone-previews {
	left: 73px;
}

.dropzone-previews .dz-error-mark,
.dropzone-previews .dz-success-mark {
	display: none;
}

.dz-preview {
	float: left;
	width: 100%;
	padding: 5px 20px;
	background: #FAF1BF;
}

.dz-preview .dz-filename {
	float: left;
}

.dz-preview .dz-size {
	float: right;
}

.file-table {
	width: 100%;
}

.file-table th {
	text-align: left;
	padding: 0 0 5px;
	color: #999;
	font-size: 0.857em;
	border-bottom: 2px solid #ddd;
}

.file-table td {
	position: relative;
	padding: 8px 0;
	border-bottom: 1px solid #ddd;
}

.file-table .filename-col {
	width: 40%;
}

.file-icon {
	float: left;
	margin: 0 10px 0 0;
	font-size: 1.571em;
}

.icon-file-word.file-icon {
	color: #5097CD;
}

.icon-file-powerpoint.file-icon {
	color: #F18862;
}

.icon-file-excel.file-icon {
	color: #63D08F;
}

.icon-file-pdf.file-icon {
	color: #EA7B73;
}

.icon-doc.file-icon {
	color: #6BAEFB;
}

.icon-file-video.file-icon,
.icon-file-audio.file-icon {
	color: #DC87DF;
}

.icon-file-image.file-icon {
	color: #D5CB72;
}

.icon-folder.file-icon {
	color: #75B2E1;
}

.file-name,
.file-name:visited {
	display: inline-block;
	margin: 7px 0 0;
	color: #333;
}

.file-name:hover {
	text-decoration: underline;
}

.file-delete,
.file-delete:visited {
	color: #666;
}

.file-delete span,
.file-upload span,
.folder-new span {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.file-header {
	float: left;
	width: 100%;
	margin: -3px 0 20px;
}

.file-breadcrumb,
.file-metanav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.file-breadcrumb li,
.file-metanav li {
	float: left;
	padding: 0;
}

.file-breadcrumb {
	float: left;
}

.file-metanav {
	float: right;
	margin: 0 4.5% 0 0;
}

.file-breadcrumb a,
.file-breadcrumb a:visited {
	float: left;
	font-family: titilliumregular, Arial, Helvertica, sans-serif;
	color: #666;
	margin: -1px 0 0;
	font-size: 1.286em; /* 18px */
}

.file-breadcrumb .breadcumb-home {
	margin: -7px 0 0 -6px;
}

.file-breadcrumb .breadcumb-home a {
	float: left;
	padding: 4px 7px 4px 6px;
	margin: 0 -12px 0 0;
	font-size: 1.571em;
}

.file-breadcrumb .breadcumb-home .icon-angle-right,
.file-breadcrumb .icon-angle-right {
	float: left;
	font-size: 1.286em;
	margin: 6px 0 0;
	color: #888;
}

.file-breadcrumb .icon-angle-right {
	margin: -1px 0 0;
}

.file-metanav li {
	margin: 0 0 0 15px;
}

.file-metanav a,
.file-metanav a:visited {
	color: #666;
	font-size: 1.286em;
}

#new-folder {
	display: none;
}

#new-folder h3 {
	margin: 0 0 30px;
}

.folder-form label {
	display: block;
	font-size: 0.785em; /* 11px */
	font-weight: bold;
	margin: 0 0 10px;
}

.folder-form {
	padding: 20px 3%;
	background: #fff;
	border: 1px solid #ddd;
}

.folder-form div {
	margin: 0 0 25px 0;
}

.folder-form input[type="text"] {
	width: 98%;
	padding: 5px 1%;
}

.folder-form input[type="submit"] {
	font-size: 0.857em; /* 12px */
}

.folder-form .error,
.update-form .error {
	border: 1px solid #F6A2A0;
}

.update-file,
.update-file:visited {
	display: none;
	padding: 0 0 0 15px;
	color: #333;
}

.update-form {
	position: absolute;
	left: 35px;
	top: 12px;
	background: #fff;
}

#filename-button,
#filename-button-cancel {
	height: 25px;
}

/**
 * Tables
 */
.table-controls,
.table-controls:visited {
	color: #333;
}

.table-controls span {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.data-table {
	width: 100%;
	border: 1px solid #ddd;
}

.data-table th {
	background: #eee;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.data-table th,
.data-table td {
	padding: 5px 10px;
}

.data-table .odd {
	background: #f5f5f5;
}

/**
 * Forms
 */
.app-form button span,
.app-form input {
	font-size: 0.857em;
}

.app-form input[type="text"],
.app-form input[type="password"] {
	float: left;
	margin: 0 15px 0 0;
	width: 150px;
}

.app-form label {
	float: left;
	width: 130px;
	font-size: 0.857em;
	font-weight: bold;
}

.ui-selectonemenu-list {
	font-size: 0.857em !important;
}

.app-form .ui-selectmanycheckbox label {
	margin: 0 0 10px 10px;
	font-weight: normal;
}

.app-form div {
	float: left;
	width: 100%;
	margin: 0 0 10px;
}

.app-form div.ui-message,
.app-form .ui-chkbox {
	width: auto;
	margin: 0;
	padding: 0 5px;
}

.app-form button {
	margin: 0 0 0 130px;
}

.app-form label.notification-label {
	width: auto;
	font-weight: normal;
}

/**
 * Media Queries
 */
@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1140px) {
}

/**
 * Helper classes
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/**
 * Print styles
 */
@media print {
	*,*:before,*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	a[href^="#"]:after,a[href^="javascript:"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}